# Análisis exploratorio

## Introducción

holalaaa ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet dignissim neque a tempor. Fusce in enim eget velit lobortis laoreet. Nulla sollicitudin et velit sit amet dictum. Integer lacus odio, tincidunt ut nibh quis, pulvinar maximus lorem. Sed lacinia efficitur vulputate. Sed rhoncus lacus in nulla consequat, et ornare ligula dictum. Etiam ullamcorper nisi sodales vestibulum maximus. Duis faucibus placerat dolor vitae elementum. Vestibulum eleifend nunc a imperdiet suscipit. Aenean facilisis ac purus quis congue.

In hac habitasse platea dictumst. Praesent varius, dolor id venenatis condimentum, orci est accumsan arcu, ut tristique turpis tellus sit amet augue. Nulla rhoncus dictum sem et commodo. Cras nec lacus vel sapien dignissim elementum id eget metus. Sed sit amet iaculis magna, ut faucibus enim. Proin elit tellus, feugiat eget mattis ut, cursus sit amet massa. Quisque cursus lobortis odio ac egestas. Integer aliquet quis odio id vehicula. Praesent vulputate nulla urna, non finibus orci venenatis nec. Nullam eleifend id mi ut interdum. Aliquam hendrerit, metus sed sollicitudin eleifend, elit velit auctor ex, quis sodales augue lorem in dui.

## Sobre los datos

Suspendisse dapibus lectus in consectetur consectetur. Quisque pharetra ut elit sit amet porttitor. Nam auctor magna sed augue pharetra, eget ultricies lectus volutpat. Praesent aliquam lectus quis porttitor accumsan. Suspendisse maximus quam vitae lorem lobortis imperdiet. Donec a lectus a neque accumsan aliquet. Proin posuere velit sodales lorem interdum, nec cursus lacus consectetur. Quisque at lobortis turpis. Fusce vestibulum est vel felis aliquet aliquet. Mauris accumsan volutpat est, non finibus risus mollis id. Pellentesque auctor tortor ac eros pretium ullamcorper. Praesent a lobortis dui. Etiam ultrices laoreet magna, id ultricies lacus aliquet sit amet. Vestibulum pulvinar justo quis dolor ornare, non dictum magna varius.

Integer id aliquam metus, id ullamcorper felis. Donec interdum, magna sit amet dictum suscipit, sem ex sodales sapien, ac rutrum dui orci ut arcu. Mauris mattis aliquam felis. Suspendisse cursus et quam non bibendum. Integer eget vestibulum sapien. Ut placerat, dolor sed dictum dignissim, orci lacus facilisis ex, sed semper nibh velit eget massa. Nunc et risus mollis, malesuada magna id, accumsan justo. Quisque sed ex in leo faucibus scelerisque ut consequat augue. Donec pharetra leo vel magna viverra, a fringilla est placerat. Phasellus ac ante eget felis ultricies imperdiet a molestie nulla. Sed accumsan eu magna ut tristique.

## Desarrollo

In [1]:
import pandas as pd

In [12]:
amcc = pd.read_csv('data/annual market chare consumer electronics.txt', delimiter = "\t")
esgce = pd.read_csv('data/ESG consumer electronics.txt', delimiter = "\t")
mebitdace = pd.read_csv('data/Margen EBITDA consumer electronics.txt', delimiter = "\t")
pce = pd.read_csv('data/performance consumer electronics.txt', delimiter = "\t")

In [13]:
amcc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Application  73 non-null     object
 1   Panel_Maker  73 non-null     object
 2   6/30/2024    47 non-null     float64
 3   5/31/2024    46 non-null     float64
 4   4/30/2024    45 non-null     float64
 5   3/31/2024    46 non-null     float64
 6   2/29/2024    43 non-null     float64
 7   1/31/2024    41 non-null     float64
 8   12/31/2023   41 non-null     float64
 9   11/30/2023   42 non-null     float64
 10  10/31/2023   42 non-null     float64
 11  9/30/2023    42 non-null     float64
 12  8/31/2023    42 non-null     float64
 13  7/31/2023    42 non-null     float64
 14  6/30/2023    42 non-null     float64
 15  5/31/2023    41 non-null     float64
 16  4/30/2023    43 non-null     float64
 17  3/31/2023    44 non-null     float64
 18  2/28/2023    43 non-null     float64
 19  1/31/2023    43 non-null     float64
 20  12/31/2022   46 non-null     float64
 21  11/30/2022   46 non-null     float64
 22  10/31/2022   46 non-null     float64
 23  9/30/2022    43 non-null     float64
 24  8/31/2022    46 non-null     float64
 25  7/31/2022    45 non-null     float64
dtypes: float64(24), object(2)
memory usage: 15.0+ KB

In [14]:
esgce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Name                        14 non-null     object
 1   Sustnlytcs ESG Rsk Scr      14 non-null     object
 2   ISS QualSc                  14 non-null     object
 3   ESG Disc Score              14 non-null     object
 4   % Indep Directors           14 non-null     object
 5   % Women on Bd               14 non-null     object
 6   CEO Tnr AsOf FY End         14 non-null     object
 7   Tot Comp Pd to CEO & Equiv  14 non-null     object
 8   Pers Expn per Empl          14 non-null     object
 9   % Women Emp                 14 non-null     object
 10  LTIR                        14 non-null     object
 11  Engy Intens/Sls             14 non-null     object
 12  Wste Per Sls                14 non-null     object
 13  Wtr Intens/Sls              14 non-null     object
dtypes: object(14)
memory usage: 1.7+ KB

In [15]:
mebitdace.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Descripción         34 non-null     object
 1   Ticker              30 non-null     object
 2   ID de campo         30 non-null     object
 3   Nemónico del campo  30 non-null     object
 4   Estado de datos     34 non-null     object
 5   2023                32 non-null     float64
 6   2022                33 non-null     float64
 7   2021                33 non-null     float64
 8   2020                33 non-null     float64
 9   2019                33 non-null     float64
 10  2018                33 non-null     float64
 11  2017                30 non-null     float64
 12  2016                33 non-null     float64
 13  2015                33 non-null     float64
 14  2014                33 non-null     float64
 15  2013                33 non-null     float64
 16  2012                33 non-null     float64
 17  2011                33 non-null     float64
 18  2010                33 non-null     float64
 19  2009                33 non-null     float64
 20  2008                33 non-null     float64
 21  2007                33 non-null     float64
 22  2006                21 non-null     float64
 23  2005                21 non-null     float64
 24  2004                21 non-null     float64
 25  2003                18 non-null     float64
 26  2002                15 non-null     float64
 27  2001                15 non-null     float64
 28  2000                15 non-null     float64
 29  1999                12 non-null     float64
 30  1998                8 non-null      float64
 31  1997                4 non-null      float64
 32  1996                4 non-null      float64
 33  1995                4 non-null      float64
 34  1994                4 non-null      float64
dtypes: float64(30), object(5)
memory usage: 9.4+ KB

In [16]:
pce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 16 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Name                                                        14 non-null     object
 1   Cntry Terrtry Of Dom                                        13 non-null     object
 2   Ccy Adj Lst Px                                              14 non-null     object
 3   MTD Tot Ret %                                               14 non-null     object
 4   QTD Tot Ret %                                               14 non-null     object
 5   Ret YTD Pct                                                 14 non-null     object
 6   Rendimiento total una semana - Último cierre                14 non-null     object
 7   Chg Pct 1D                                                  14 non-null     object
 8   Chg Pct 1M                                                  14 non-null     object
 9   Chg Pct 3M                                                  14 non-null     object
 10  Chg 6M Pct                                                  14 non-null     object
 11  Chg Pct 1Yr                                                 14 non-null     object
 12  Chg Pct 3M.1                                                14 non-null     object
 13  1Y Tot Ret                                                  14 non-null     object
 14  Rendimiento total anualizado de 3 años al día hábil actual  14 non-null     object
 15  Rendimiento total anualizado de 5 años al día hábil actual  14 non-null     object
dtypes: object(16)
memory usage: 1.9+ KB

In [19]:
print(esgce)

                              Name Sustnlytcs ESG Rsk Scr ISS QualSc  \
0                           Median                  12.06        4.5
1                  Nintendo Co Ltd                  15.62          4
2                       Garmin Ltd                  20.99          9
3        Logitech International SA                   8.51          1
4               LG Electronics Inc                  20.45          5
5                 Sharp Corp/Japan                  20.92          4
6                       Nikon Corp                  16.73          2
7   Hisense Visual Technology Co L                     --         --
8            Casio Computer Co Ltd                  20.55          6
9     TCL Electronics Holdings Ltd                      0         --
10              Skyworth Group Ltd                      0         --
11              Konka Group Co Ltd                      0         --
12                       GoPro Inc                      0          8
13           Funai Electric Co Ltd                      0         --

   ESG Disc Score % Indep Directors % Women on Bd CEO Tnr AsOf FY End  \
0           41.28             54.55        16.67%                   2
1              --             46.15        30.77%                5.83
2              --             66.67        33.33%                  11
3              --               100        40.00%                0.33
4              --             66.67        16.67%                   2
5              --             66.67        11.11%                   2
6              --             54.55        18.18%                   1
7           44.63              37.5        12.50%                0.92
8              --             45.45         9.09%                2.83
9              --                --            --                  --
10             --              37.5        12.50%                1.75
11             --                --            --                0.75
12          41.28              87.5        25.00%               12.08
13          32.52             42.86         0.00%                  --

   Tot Comp Pd to CEO & Equiv Pers Expn per Empl % Women Emp  LTIR  \
0                       1.79M             20.92k      36.15%  0.15
1                       2.48M             49.29k          --    --
2                       6.54M                 --          --    --
3                      16.00M                 --      38.00%    --
4                       1.79M                 --      21.96%  0.15
5                     821.43k             20.92k          --    --
6                       1.05M             62.46k      37.30%    --
7                     464.83k             13.02k      42.03%    --
8                       1.27M             31.53k          --    --
9                          --             30.29k          --    --
10                     10.34M             17.71k      35.00%    --
11                    198.99k              8.17k          --    --
12                      5.68M                 --      29.40%    --
13                         --             11.64k          --    --

   Engy Intens/Sls Wste Per Sls Wtr Intens/Sls
0             10.8         1.58            122
1               --           --             --
2               --           --             --
3             5.75           --             --
4            28.13         2.81         116.02
5               --           --             --
6            94.62         1.58         785.51
7             5.63           --             --
8               --           --             --
9               --           --             --
10           15.85         0.25            122
11              --           --             --
12            2.53           --             --
13              --           --             --

In [20]:
print(amcc)

    Application               Panel_Maker  6/30/2024  5/31/2024  4/30/2024  \
0   LCD Monitor                       AUO     1993.0     1715.0     1760.0
1   LCD Monitor      BOE Technology Group     4537.0     4624.0     3992.0
2   LCD Monitor                  CEC CHOT        NaN        NaN        NaN
3   LCD Monitor                 CEC PANDA        NaN        NaN        NaN
4   LCD Monitor           CEC PANDA Gen 6        NaN        NaN        NaN
..          ...                       ...        ...        ...        ...
68       Tablet                   Innolux     1849.0     2701.0     2714.0
69       Tablet                LG Display     2937.0     2089.0     1691.0
70       Tablet                 Panasonic        NaN        NaN        NaN
71       Tablet                     Sharp      383.1      290.1      268.2
72       Tablet  Tianma Micro-electronics      356.0      285.0      282.0

    3/31/2024  2/29/2024  1/31/2024  12/31/2023  11/30/2023  ...  4/30/2023  \
0      1720.0     1725.0     1805.0      1809.0      1707.0  ...     1990.0
1      4031.0     3579.0     3745.0      4009.0      3394.0  ...     3535.0
2         NaN        NaN        NaN         NaN         2.0  ...       10.0
3         NaN        NaN        NaN         NaN         NaN  ...        NaN
4         NaN        NaN        NaN         NaN         NaN  ...        NaN
..        ...        ...        ...         ...         ...  ...        ...
68     2592.0     1725.0     1695.0      1455.0      1404.0  ...     2839.0
69     2742.0     1183.0     1456.0      3673.0      2381.5  ...     1458.0
70        NaN        NaN        NaN         NaN         NaN  ...        NaN
71      505.0      200.6      736.7       445.0       547.0  ...      769.0
72      291.0      247.0      323.0       476.0       316.0  ...      320.0

    3/31/2023  2/28/2023  1/31/2023  12/31/2022  11/30/2022  10/31/2022  \
0      1935.0     1622.0     1436.0      1762.0      1749.0      1317.0
1      3494.0     2802.0     2635.0      3038.0      2863.0      2821.0
2        12.0       63.0       51.0        54.5        57.3        66.0
3         NaN        NaN        NaN         NaN         NaN         NaN
4         NaN        NaN        NaN       200.0       300.0       200.0
..        ...        ...        ...         ...         ...         ...
68     3215.0     3258.0     2319.0      2585.0      2172.0      2130.0
69     2720.0     1143.0     2153.0      2414.5      3032.0      2454.0
70        NaN        NaN        NaN         NaN         NaN         NaN
71      775.0      425.0      563.4      1353.0      1888.5      1980.0
72      487.0      323.0      185.0       354.0       234.0       264.0

    9/30/2022  8/31/2022  7/31/2022
0      1424.1     1433.2     1329.2
1      3197.0     2821.0     3611.0
2        73.0       46.0       13.0
3         NaN        NaN        NaN
4       228.0      240.0      200.0
..        ...        ...        ...
68     2192.0     1797.0     1268.0
69     3180.0     2643.0     2708.0
70        NaN        NaN        NaN
71     1897.0     1208.4      709.0
72      187.0      244.0      120.0

[73 rows x 26 columns]

In [21]:
amcc.head(10)

,Application,Panel_Maker,6/30/2024,5/31/2024,4/30/2024,3/31/2024,2/29/2024,1/31/2024,12/31/2023,11/30/2023,...,4/30/2023,3/31/2023,2/28/2023,1/31/2023,12/31/2022,11/30/2022,10/31/2022,9/30/2022,8/31/2022,7/31/2022
0,LCD Monitor,AUO,1993.0,1715.0,1760.0,1720.00,1725.00,1805.00,1809.00,1707.00,...,1990.0,1935.0,1622.0,1436.00,1762.0,1749.0,1317.0,1424.1,1433.2,1329.2
1,LCD Monitor,BOE Technology Group,4537.0,4624.0,3992.0,4031.00,3579.00,3745.00,4009.00,3394.00,...,3535.0,3494.0,2802.0,2635.00,3038.0,2863.0,2821.0,3197.0,2821.0,3611.0
2,LCD Monitor,CEC CHOT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00,...,10.0,12.0,63.0,51.00,54.5,57.3,66.0,73.0,46.0,13.0
3,LCD Monitor,CEC PANDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LCD Monitor,CEC PANDA Gen 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,200.0,300.0,200.0,228.0,240.0,200.0
5,LCD Monitor,CSOT,2613.0,2595.0,2507.0,2411.00,1960.00,2143.00,2230.00,2107.00,...,1896.0,1810.0,1862.0,1741.15,1657.0,1692.0,1486.0,1352.0,1285.0,1710.0
6,LCD Monitor,Century,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,LCD Monitor,Chunghwa Picture Tubes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,LCD Monitor,HKC,1902.4,1946.7,1900.5,2024.94,1181.95,1973.07,1439.03,1505.13,...,1832.0,2029.0,1879.0,1438.00,1836.0,1652.0,1704.0,2176.0,1461.0,1337.0
9,LCD Monitor,Hannstar,1.0,NaN,NaN,1.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN